// app global css in SCSS form
a{    
    text-decoration: none;   
}

.Begin {
    background: #ff464f;
  }
  
.texttitle1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  
.texttitle1-2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
.read-icon {
    width: 160px;
    height: 210px;
    background: url("../image/read.png");
    background-repeat: no-repeat;
  }

.Welcome {
    background: #22343c;
  }
.Logo {
    width: 50px;
    height: 50px;
    background: #40df9f;
    border-radius: 15px;
    margin-top: 100px;
  }

.texttitle2 {
    font-size: 25px;
    font-weight: bold;
    color: #96a7af;
  }
  
.icon_Profile {
    width: 38px;
    height: 48px;
    background: #625b39;
    border-radius: 10px;
  }
.icon_Key {
    width: 38px;
    height: 48px;
    background: #623a42;
    border-radius: 10px;
  }
.text-forgot {
    color: #96a7af;
  }
.Welcome {
    background: #22343c;
  }

.icon_Profile {
    width: 38px;
    height: 48px;
    background: #625b39;
    border-radius: 10px;
  }
  
.text_OTP {
    color: #96a7af;
  }
