// app global css in SCSS form
a{    
    text-decoration: none;   
}

.addbackground{
    background: #22343c;
}
.profileImg {
 width: 90px;
 height: 90px;
 background: white;
 border-radius: 20px;
}
.borderdash {
 width: 110px;
 height: 110px;
 border: dashed gray 2px;
 border-radius: 20px;
}
.titlechoice{
 font-size: 16px;
 color: #96A7AF;
 font-weight: bold;
}
 
  .titleprofile {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .titleprofiledetail {
    font-size: 15px;
    color: white;
    font-weight: bold;
  }
  .redbutton {
    width: 40%;
    height: 58px;
    background: #ff565e;
    border-radius: 13px;
  }

.gradegraph{
  width: 90%;
  height: 276px;
  background: #30444e;
  border-radius: 25px;
  margin-left: 5%;
  margin-top: 4%;
}

  .settingbtn {
    width: 35px;
    height: 34px;
    background: #40df9f;
    border-radius: 15%;
  }
  .fontaddsubject {
    color: #3ed598;
  }
  .semestertitle {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }

  .name {
    width: 38px;
    height: 48px;
    background: #625b39;
    border-radius: 15%;
  }
  .profile {
    width: 65px;
    height: 66px;
    background: #ff565e;
    border-radius: 50%;
  }
  .textgrade {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .gradeA {
    width: 38px;
    height: 42px;
    background: #3bc28d;
    border-radius: 10px;
  }
  .gradeB {
    width: 38px;
    height: 42px;
    background: #0f54b9;
    border-radius: 10px;
  }
  .gradeC {
    width: 38px;
    height: 42px;
    background: #ffc542;
    border-radius: 10px;
  }
  .gradeD {
    width: 38px;
    height: 42px;
    background: #ff974a;
    border-radius: 10px;
  }

  .welldonetier {
    width: 15px;
    height: 10px;
    background: #3dd598;
    border-radius: 25px;
  }
  .goodtier {
    width: 15px;
    height: 10px;
    background: #ffc542;
    border-radius: 25px;
  }
  .badtier {
    width: 15px;
    height: 10px;
    background: #ff575f;
    border-radius: 25px;
  }
  .readprogress {
    width: 90%;
    height: 157px;
    background: #30444e;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 5%;
  }
  .texttier {
    font-size: 15px;
    color: #96a7af;
    font-weight: bold;
  }
  .namebook {
    width: 90%;
    height: 99px;
    background: #30444e;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 4%;
  }
  .titlesubject {
    font-size: 15px;
    color: white;
    font-weight: bold;
  }
  .statusred {
    width: 59px;
    height: 54px;
    background: #ff565e;
    border-radius: 15px;
  }
  .statusyellow {
    width: 59px;
    height: 54px;
    background: #ffc542;
    border-radius: 15px;
  }
  .statusgreen {
    width: 59px;
    height: 54px;
    background: #42ff4a;
    border-radius: 15px;
  }
  .percenred {
    font-size: 15px;
    color: #ff575f;
    font-weight: bold;
  }
  .percenyellow {
    font-size: 15px;
    color: #ffc542;
    font-weight: bold;
  }
  .percengreen {
    font-size: 15px;
    color: #42ff4a;
    font-weight: bold;
  }

  .exam {
    font-size: 15px;
    color: #96a7af;
    font-weight: bold;
  }
  .redcircle {
    width: 10px;
    height: 10px;
    background: #ff565e;
    border-radius: 100%;
  }
  .bnumberchapter {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  .numberchapter {
    font-size: 25px;
    color: white;
    font-weight: bold;
  }
  .titlechapter {
    font-size: 15px;
    color: white;
    font-weight: bold;
  }
  .profilesubject1 {
    width: 50px;
    height: 50px;
    background: #ffc542;
    border-radius: 100%;
  }
  
  .profilesubject2 {
    width: 50px;
    height: 50px;
    background: #3ed598;
    border-radius: 100%;
  }
  
  .profilesubject3 {
    width: 50px;
    height: 50px;
    background: #ff565e;
    border-radius: 100%;
  }
  .profilesubject4 {
    width: 50px;
    height: 50px;
    background: #ffc542;
    border-radius: 100%;
  }
  
  .profilesubject5 {
    width: 50px;
    height: 50px;
    background: #3ed598;
    border-radius: 100%;
  }
  .chapter {
    font-size: 22px;
    color: white;
  }

  .bgtitle {
    width: 38px;
    height: 48px;
    background: #625b39;
    border-radius: 15%;
  }

  .typetest {
    width: 24px;
    height: 24px;
    background: #ff575f;
    border-radius: 15%;
  }
  .typehomework {
    width: 24px;
    height: 24px;
    background: #3dd598;
    border-radius: 15%;
  }
  .typeother {
    width: 24px;
    height: 24px;
    background: #ffc542;
    border-radius: 15%;
  }
  .score {
    width: 90%;
    height: 100px;
    background: #2a3c44;
    border-radius: 25px;
    margin-top: 10px;
  }
  .allscore {
    width: 317px;
    height: 241px;
    background: #30444e;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #19282f;
  }
  .warringscore {
    width: 317px;
    height: 55px;
    background: #ff5656;
    border-radius: 25px;
    margin-top: 10px;
  }
  .scoregrade {
    width: 271px;
    height: 268px;
    background: #2a3c44;
    border-radius: 25px;
  }
  .gradechart {
    background-image: url("../image/gradechart.png");
    width: 100%;
    height: 75%;
    background-size: 100%;
    border-radius: 25px;
  }
  .gradewanttext {
    font-size: 15px;
    color: #96a7af;
  }
  .testtext {
    font-size: 15px;
    color: #96a7af;
    width: 400px;
  }
  .mark {
    background: #ff565e;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .background-icon {
    width: 75px;
    height: 75px;
    background: #286053;
    border-radius: 100%;
  }
  
  .buttom {
    background: #3ed598;
    position: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
  
  
